**/.git
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/dist
**/.angular
**/coverage
**/*.db
**/*.db-shm
**/*.db-wal
**/appsettings.Development.json
**/appsettings.*.local.json
publish/
deploy/.env
.env
.env.*
